$background: #fff;
$border-element : #828282;
$label-yellow: #FED74B;
$label-blue: #099CE8;
$time-text: #9E9E9E;
$title-text: #404040;
$details-element: #4B4B4B;
$times-element: #D9E8FF;
$times-element-hover: #6BA6FF;

$large: 1200px;
